name: awesome_chat_bubble
description: Flutter package for creating chat bubbles with customizations.
version: 1.0.0
homepage: https://github.com/moesaid/Awesome_Chat_Bubble
publish_to: none


environment:
  sdk: ^3.4.0
  flutter: ">=3.22.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  mocktail: ^1.0.4
  very_good_analysis: ^6.0.0
